body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #121212;
    color: white;
}

header {
    background-color: #1e1e1e;
    padding: 15px;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 10px;
}

nav a {
    text-decoration: none;
    color: #00bfff;
    font-weight: bold;
}

section {
    margin: 20px;
    padding: 10px;
    border: 1px solid #00bfff;
    background: #1e1e1e;
}

ul {
    list-style-type: none; 
    padding: 0;
}